<?xml version="1.0" encoding="UTF-8"?>
<panel title="Afflux 1.3 DEMO">
	<item type="checkBox" name="property5">
		<title><![CDATA[AutoSlideshow]]></title>
		<description><![CDATA[]]></description>
		<selected>true</selected>
	</item>
	<item type="numericSteper" name="property2">
		<title><![CDATA[Slideshow Delay]]></title>
		<description><![CDATA[]]></description>
		<maximum>30</maximum>
		<minimum>0</minimum>
		<stepSize>1</stepSize>
		<value>10</value>
	</item>
	<item type="numericSteper" name="property3">
		<title><![CDATA[Thumbnails Height]]></title>
		<description><![CDATA[]]></description>
		<maximum>300</maximum>
		<minimum>40</minimum>
		<stepSize>1</stepSize>
		<value>100</value>
	</item>
	<item type="checkBox" name="property4">
		<title><![CDATA[Show Description]]></title>
		<description><![CDATA[Show image description on mouseover.]]></description>
		<selected>true</selected>
	</item>
	<item type="comboBox" name="property0">
		<title><![CDATA[Flash Object WMode]]></title>
		<description><![CDATA[If 'transparent' - "Background Color" option is ignored, but you can position the absolute elements over the flash.]]></description>
		<data>
			<label name="Window"><![CDATA[window]]></label>
			<label name="Transparent"><![CDATA[transparent]]></label>
			<label name="Opaque"><![CDATA[opaque]]></label>
		</data>
		<prompt><![CDATA[]]></prompt>
		<rowCount>2</rowCount>
		<value><![CDATA[opaque]]></value>
	</item>
	<item type="checkBox" name="swfmousewheel">
		<title><![CDATA[SWF Mouse Wheel]]></title>
		<description><![CDATA[Turn On/Off mouse wheel detection over Gallery.]]></description>
		<selected>false</selected>
	</item>
<item type="comboBox" name="property17">
		<title><![CDATA[Image Zoom]]></title>
		<description><![CDATA[]]></description>
		<data>
			<label name="FILL"><![CDATA[FILL]]></label>
			<label name="FIT"><![CDATA[FIT]]></label>
		</data>
		<prompt><![CDATA[]]></prompt>
		<rowCount>2</rowCount>
		<value><![CDATA[FILL]]></value>
	</item>
	<item type="colorPicker" name="property1">
		<title><![CDATA[Background Color]]></title>
		<description><![CDATA[]]></description>
		<showTextField>true</showTextField>
		<selectedColor>0xffffff</selectedColor>
	</item>
	<item type="colorPicker" name="property6">
		<title><![CDATA[Bars Background Color]]></title>
		<description><![CDATA[Background color for Categories bar, Thumbnails bar and Scroll bar.]]></description>
		<showTextField>true</showTextField>
		<selectedColor>0x000000</selectedColor>
	</item>
	<item type="colorPicker" name="property7">
		<title><![CDATA[Category Buttons Color]]></title>
		<description><![CDATA[]]></description>
		<showTextField>true</showTextField>
		<selectedColor>0x75c30f</selectedColor>
	</item>
	<item type="colorPicker" name="property8">
		<title><![CDATA[Category Buttons Color on Mouseover]]></title>
		<description><![CDATA[]]></description>
		<showTextField>true</showTextField>
		<selectedColor>0xffffff</selectedColor>
	</item>
	<item type="colorPicker" name="property9">
		<title><![CDATA[Scroll Bar Track Color]]></title>
		<description><![CDATA[]]></description>
		<showTextField>true</showTextField>
		<selectedColor>0x75c30f</selectedColor>
	</item>
	<item type="colorPicker" name="property10">
		<title><![CDATA[Scroll Bar Button Color]]></title>
		<description><![CDATA[]]></description>
		<showTextField>true</showTextField>
		<selectedColor>0xffffff</selectedColor>
	</item>
	<item type="colorPicker" name="property11">
		<title><![CDATA[Thumbnail BG Color]]></title>
		<description><![CDATA[Background of the thumbnail placeholder while thumbnail is loading.]]></description>
		<showTextField>true</showTextField>
		<selectedColor>0xffffff</selectedColor>
	</item>
	<item type="colorPicker" name="property12">
		<title><![CDATA[Thumbnail Loader Color]]></title>
		<description><![CDATA[]]></description>
		<showTextField>true</showTextField>
		<selectedColor>0x75c30f</selectedColor>
	</item>
	<item type="colorPicker" name="property13">
		<title><![CDATA[Description BG Color]]></title>
		<description><![CDATA[Background for the image description that appears on mouseover.]]></description>
		<showTextField>true</showTextField>
		<selectedColor>0x000000</selectedColor>
	</item>
	<item type="slider" name="property14">
		<title><![CDATA[Description BG Alpha]]></title>
		<description><![CDATA[Opacity of the image description background.]]></description>
		<maximum>100</maximum>
		<minimum>0</minimum>
		<snapInterval>5</snapInterval>
		<tickInterval>5</tickInterval>
		<value>85</value>
	</item>
	<item type="colorPicker" name="property15">
		<title><![CDATA[Image Title Color]]></title>
		<description><![CDATA[Color of text for image title in the description.]]></description>
		<showTextField>true</showTextField>
		<selectedColor>0x75c30f</selectedColor>
	</item>
	<item type="colorPicker" name="property16">
		<title><![CDATA[Image Description Color]]></title>
		<description><![CDATA[Color of text for image description.]]></description>
		<showTextField>true</showTextField>
		<selectedColor>0xffffff</selectedColor>
	</item>
<properties>
  <property0><![CDATA[opaque]]></property0>
  <swfmousewheel>false</swfmousewheel>
  <property1>0xffffff</property1>
  <property2>10</property2>
  <property3>100</property3>
  <property4>true</property4>
  <property5>true</property5>
  <property6>0x000000</property6>
  <property7>0x75c30f</property7>
  <property8>0xffffff</property8>
  <property9>0x75c30f</property9>
  <property10>0xffffff</property10>
  <property11>0xffffff</property11>
  <property12>0x75c30f</property12>
  <property13>0x000000</property13>
  <property14>85</property14>
  <property15>0x75c30f</property15>
  <property16>0xffffff</property16>
  <property17><![CDATA[FILL]]></property17>
</properties>
</panel>